.Button {
    font-size: 1rem;
    font-weight: 700;
    align-self: center;
    border-radius: 100px;
    background-color: #FDFCF8;
    border-color: #FF6A5C;
    color: #FF6A5C;
    margin-left: 5px;
    margin-right: 5px;
    min-width: 75px;
}

.Button:hover {
    border-color: transparent;
    cursor: pointer;
    color: #FDFCF8;
    background-color: #FF6A5C;
}

.Button:hover:active {
    background-color: #FF6A5C !important;
}

.Button:active {
    background-color: #FF6A5C !important;
}

.Button:focus {
    background-color: #FF6A5C;
}

.Wide {
    padding: 10px 50px;
    width: 80%;
    margin-left: 10%;

}
