.Form {
    border: none;
    border-bottom: 2px #ff6a5c solid;
}

.Button {
    border: 2px #ff6a5c solid;
    background-color: #FDFCF8;
    color: #ff6a5c;
    border-radius: 100px;
    padding: 4px 10px;
    min-width: 75px;
    margin: 5px;
}

.Button:hover {
    cursor: pointer;
    background-color: #ff6a5c;
    color: #FDFCF8;
}
