.Form {
    border: none;
    border-bottom: 2px #FF6A5C solid;
}

.Button {
    border: 2px #FF6A5C solid;
    background-color: #FDFCF8;
    color: #FF6A5C;
    border-radius: 100px;
    padding: 4px 10px;
    min-width: 75px;
    margin: 5px;
    font-weight: 600;
}

.Button:hover {
    cursor: pointer;
    border: 2px #FF6A5C solid;
    background-color: #FF6A5C;
    color: #FDFCF8;
    border-radius: 100px;
    padding: 4px 10px;
    min-width: 75px;
    margin: 5px;
    font-weight: 600;
}
