.DropdownItem {
    display: inline-block;
    max-width: 50%;
    padding: 0px;
    color: #FF6A5C;
}

.DropdownItem:hover {
    color: #FDFCF8;
    background-color: #FF6A5C !important;
}

.Orange {
    color: #FF6A5C;
}

.Orange:hover, .Orange:hover i {
    background-color: #FF6A5C;
    color: #FDFCF8;
}

.Absolute {
    position: absolute;
    right: 0;
    z-index: 99;
}

