.NavBar {
    background-color: #FDFCF8;
    color: #FF6A5C;
}

.navbarName {
    color: #FF6A5C !important;
    font-family: 'Yeseva One', cursive;
    font-size: 1.75rem;
}

.NavLink {
    padding: 3px;
    color: #FF6A5C;
    border-radius: 5px;
}

.NavLink:hover {
    color: #FDFCF8;
    background-color: #FF6A5C;
}

.NavLink:hover i {
    color: #FDFCF8;
    background-color: #FF6A5C;
    transition: color ease-in-out 0.3s;
}

.Active {
    text-decoration: underline;
}