.NavBar {
    background-color: #FDFCF8;
    /* background-color: #f7f5e7; */
}

.navbarName {
    color: #ff6a5c !important;
    font-family: 'Yeseva One', cursive;
    font-size: 2rem;
}

.NavLink {
    padding: 5px;
}

.Active {
    text-decoration: underline;
}

.navbarLogo:hover {
    background-color: #ff6a5c;
    border-radius: 5px;

}
/* .linkText {
    color: #ff6a5c !important;
} */