.Post {
  background-color: #FDFCF8;
  border: 3px solid #BBD8CC;
  border-radius: 10px;
  margin-bottom: 16px;
  /* text-align: center; */
  padding-bottom: 15px;
}

.Post figure,
h5 {
  margin: 0 0;
}

a:hover {
  color: #FF6A5C;
  text-decoration: underline;
  transition: color ease-in-out 0.3s;
}

.Personal {
  background-color: #FDFCF8;
  border: 2px solid #fba39b;
  border-radius: 10px;
  margin-bottom: 16px;
  text-align: center;
  padding-bottom: 15px;
}

.Category {
  color: #FDFCF8;
  border: 2px solid #ff6a5c;
  background-color: #ff6a5c;
  border-radius: 15px;
  width: 35%;
  margin-left: 32.5%;
}

.Paw {
  margin-right: 5px;
}

.PawGrey {
  color: #dadadf;
}

.PawLiked {
  border-radius: 50%;
  margin-right: 5px;
}

.PawLiked:hover {
  color: #FDFCF8;
  background-color: #fba39b;
  border-radius: 50%;
}

.PawNoLike {
  color: #fba39b;
}

.PawNoLike:hover{
  color: #FDFCF8;
  background-color: #ff6a5c;
  border-radius: 50%;
}

.Comment {
  padding: 10px;
}

.Comment:hover {
  color: #FDFCF8;
  background-color: #ff6a5c;
  border-radius: 50%;
}

.card-body-link:hover {
 color: #ff6a5c;
}