.Post {
    background-color: #FDFCF8;
    border: 1px solid #dadadf;
    border-radius: 5px;
    margin-bottom: 16px;
    text-align: center;
  }
  
  .Post figure,
  h5 {
    margin: 0 0;
  }
  
  .Heart {
    color: #ff6a5c;
  }
  
  .Heart:hover {
    background-color: #ff6a5c;
    color: #FDFCF8;
  }
  
  .HeartOutline:hover {
    color: #ff6a5c;
  }