.App {
    font-family: 'Comfortaa', cursive;
    /* background-color: #e0f2df; */
    /* background-color: #EDF6E7; */
    color: #056571;
    background-color: #E7F4E3;
    background-image: url('/workspace/hissr/src/assets/hissr_bg.png');
    background-repeat: repeat;
    min-height: 100vh;
    font-weight: 600;
}

.Main {
    padding-top: 81px;
}

.Content {
    background-color: #FDFCF8;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #dadadf;
}

* {
    box-sizing: border-box;
}

a {
    color: #ff6a5c !important;
    transition: color ease-in-out 0.3s;
}

a:hover {
    color: #FDFCF8 !important;
    background-color: #ff6a5c;
    transition: color ease-in-out 0.3s;
    /* padding: -10px; */
    border-radius: 5px;
}

a:hover i {
    color: #FDFCF8;
    background-color: #ff6a5c;
    transition: color ease-in-out 0.3s;
}

i {
    color: #ff6a5c;
    font-size: 1.6rem;
    padding: 7px;
    vertical-align: middle;
}

/* i:hover {
    cursor: pointer;
    transition: color ease-in-out 0.3s;
    color: #ff6a5c;
} */

input[type="file"] {
    display: none;
}

figure {
    text-align: center;
    display: inline-block;
}

/* scrollbar */
*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-track {
    background: #f1f1f1;
}

*::-webkit-scrollbar-thumb {
    background: #888;
}

*::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.Orange {
    color: #FF6A5C !important;
}

