.App {
    font-family: 'Comfortaa', cursive;
    color: #056571;
    background-color: #E7F4E3;
    background-image: url("https://res.cloudinary.com/dnddcsxad/image/upload/v1682260382/hissr_bg_ujvnfu.png");
    background-repeat: repeat;
    min-height: 100vh;
    font-weight: 600;
}

.Main {
    padding-top: 81px;
}

.Content {
    background-color: #FDFCF8;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #DADADF;
}

* {
    box-sizing: border-box;
}

a {
    color: #FF6A5C;
    transition: color ease-in-out 0.3s;
}

/* .Card > a:hover {
    color: #FF6A5C;
} */

/* a:hover {
    color: #FDFCF8;
    background-color: #FF6A5C;
    transition: color ease-in-out 0.3s;
    padding: -10px; 
    border-radius: 5px;
} */

/*a:hover i {
    color: #FDFCF8;
    background-color: #FF6A5C;
    transition: color ease-in-out 0.3s;
} */



i {
    color: #FF6A5C;
    font-size: 1.6rem;
    padding: 7px;
    vertical-align: middle;
}

i:hover {
    cursor: pointer;
    transition: color ease-in-out 0.3s;
    color: #FDFCF8;
}

input[type="file"] {
    display: none;
}

figure {
    max-width: 75%;
    text-align: center;
    display: inline-block;
}

/* scrollbar */
*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-track {
    background: #f1f1f1;
}

*::-webkit-scrollbar-thumb {
    background: #888;
}

*::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.Orange {
    color: #FF6A5C;
}


